# places
alias ~='cd ~'
alias -='cd -'
alias docs='cd ~/Documents'
alias down='cd ~/Downloads'
alias desk='cd ~/Desktop'
alias src='cd ~/Documents/src'
alias alloy="cd vendor/alloy"

# shortcut to this project
alias dotfiles="cd ~/.dotfiles"
alias config="~/.dotfiles/script/setup.fish"

# npm
alias n=npm
alias nr="npm run"
alias nrd="npm run dev"
alias ni="npm install"
alias nw="npm workspace"
alias nws="npm workspaces"
alias nwsr="npm workspaces run"
alias ns="echo 'npm start' && npm start"
alias nsb="echo 'npm run storybook' && npm run storybook"
alias nt="echo 'npm test' && npm test"
alias ntw="echo 'npm test:watch' && npm test:watch"
alias nto="echo 'npm test --notify --maxWorkers=65%' && npm test --notify --maxWorkers=65%"
alias nta="echo 'nt --watchAll=false' && nt --watchAll=false"

#  yarn
alias y=yarn
alias yw="yarn workspace"
alias yws="yarn workspaces"
alias ywsr="yarn workspaces run"
alias ys="echo 'yarn start' && yarn start"
alias ysb="echo 'yarn storybook' && yarn storybook"
alias yt="echo 'yarn test --notify --maxWorkers=65%' && yarn test --notify --maxWorkers=65%"
alias yta="echo 'yt --watchAll=false' && yt --watchAll=false"

# Rails npm stuff
alias bn="bin/npm"
alias bni="bin/npm install"
alias bnr="bin/npm run"
alias bns="bin/npm start"
alias bnt="bin/npm test"
alias bntw="bin/npm run test:watch"

# Rails stuff
alias ss="script/server"
alias ssd="script/server --debug"
alias sss="script/dx/server-start"
alias sst="script/dx/server-stop"
alias ssl="script/dx/server-logs"
alias sb="script/bootstrap"
alias br="bin/rails"
alias brt="bin/rails test"
alias brt="bin/rails test_changes"
alias bbe="bin/bundle exec"
alias bg="bin/guard" # run tests in watch mode

# Stuff
alias bgsf="bin/generate-service-files.rb"

# overmind
alias o="overmind"
alias oc="overmind connect"
alias os="overmind start"
alias ost="overmind stop"
alias ors="overmind restart"

# Codespaces
alias ncs='gh cs code -c "$(gh cs create -r github/github --default-permissions)"'

# Git aliases
alias g=git
alias gst="echo 'git status' && git status"
alias gd="echo 'git diff' && git dif"
alias ga="git add"
alias gaa="git add -A"
alias gcm="git commit -m"
alias gcam="git commit -am"
alias gp="echo 'git push' && git push"
alias gpo="echo 'git push -u origin HEAD' && git push -u origin HEAD"
gcopr() { 
  (git fetch -f upstream pull/${1}/head:pr-${1} || (echo 'trying origin'; git fetch -f origin pull/${1}/head:pr-${1})) && git checkout pr-${1}; 
}
alias gtfo="echo 'git reset --hard && git clean -fd' && git reset --hard && git clean -fd"
alias gpf="git push --force-with-lease"
alias gco-="git checkout -"
alias gco.="git checkout ."
alias gcob="git checkout -b ns/"
alias gl="git pull"
# alias glo="echo 'git pull origin $(current_branch)' && git pull origin $(current_branch)"
# alias glu="echo 'git pull upstream $(current_branch)' && git pull upstream $(current_branch)"

alias gcom="echo 'git checkout main' && git checkout main"
alias grom="echo 'git fetch origin' && git fetch origin && echo 'git rebase origin/main' && git rebase upstream/main"
alias grum="echo 'git fetch upstream' && git fetch upstream && echo 'git rebase upstream/main' && git rebase upstream/main"
alias gpom="echo 'git pull origin main' && git pull origin main"
alias gpum="echo 'git pull upstream main' && git pull upstream main"

# legacy from when master was standard
alias gcomaster="echo 'git checkout master' && git checkout master"
alias gcoma=gcomaster
alias grumaster="echo 'git fetch upstream' && git fetch upstream && echo 'git rebase upstream/master' && git rebase upstream/master"
alias gruma=grumaster
alias gpumaster="echo 'git pull upstream master' && git pull upstream master"
alias gpuma=gpumaster

hack() {
  git checkout -b $1 && git push --set-upstream origin $1
}

# Other
alias c=code
alias edit=code
alias e=edit

alias ffon="bin/toggle-feature-flag enable"
alias ffoff="bin/toggle-feature-flag disable"