.DS_Store
.env
.envrc
node_modules
.vscode
.config/iterm2/
.config/fish/fish_variables
.config/fish/completions
.config/fish/conf.d
.config/fish/functions
.config/gh/hosts.yml
.config/op/
.config/raycast/
.config/configstore/update-notifier-npm.json