[alias]
  praise = blame
  br = branch
  cm = commit
  co = checkout
  p = push
  pl = pull
  st = status
  coauthor = "!f() { $co = $(git get-coauthor \"${1}\"); echo; read -n1 -p $co y; [[ \"$y\" == 'y' ]] && git commit --amend -m\"$(git log --format=%B -n1)\" -m\"$co\"; }; f"
  get-coauthor = "!f() { author=$(git log --no-merges -1 --author \"${1}\" --format='%an <%ae>' 2>/dev/null); test -z \"$author\" && exit 1; echo \"Co-authored-by: $author\"; }; f"

[color]
  ui = true

[color "diff"]
  old = red
  new = green

[color "diff-highlight"]
  oldNormal = red
  newNormal = green
  oldHighlight = red reverse
  newHighlight = green reverse

[core]
  editor = code --wait

[credential]
  helper = osxkeychain

[diff]
  colorMoved = default

[fetch]
  prune = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[github]
  user = theinterned

[gpg]
  program = gpg

[help]
  autocorrect = 30

[init]
  defaultBranch = main

[merge]
  conflictstyle = diff3

[pull]
  rebase = true

[push]
  default = simple

[remote]
  pushDefault = origin

[url "https://github.com/"]
  insteadOf = git@github.com:

[user]
  name = Ned Schwartz
  email = ned@theinterned.net


