/* Safari-specific styles https://blog.jim-nielsen.com/2021/custom-style-sheet-in-safari/ */

/* GitHub: Remove the underline from rendered markdown diffs making them easier to read */
ins {
  text-decoration: none;
  text-decoration-line: none;
}

/* 
 * fix for image gallery on a number of bike shops including 
 * https://www.sweetpetes.com and Bike Depot
 */
.seProductImageContainer .seZoomImageContainer .zoomPad, .zoomPad.zoomPad.zoomPad {
  transform: translateY(0) !important;
}